.countContainer{

    width: 100%;
    min-height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 5px;
    box-sizing: border-box;
   

    .itemCounter{
        width: 50%;
        height: max-content;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
       

        button{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            height: 35px;
            font-size: 20px;
            width: 35px;
            position: relative;
             box-shadow:
             -7px -7px 20px 0px #fff9,
             -4px -4px 5px 0px #fff9,
             7px 7px 20px 0px #0002,
             4px 4px 5px 0px #0001,
             inset 0px 0px 0px 0px #fff9,
             inset 0px 0px 0px 0px #0001,
             inset 0px 0px 0px 0px #fff9,        inset 0px 0px 0px 0px #0001;
           transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81);
             border-radius: 4px;

             cursor: pointer;
             
            
        }

        button:hover{
            background: radial-gradient(circle,  #0ff 0%, #e0e5ec 60%);
              color: rgba(102,102,102,.5); 
              animation: colorchange 3s linear infinite;
        }

        .substractItem{
            background-color: rgb(103, 103, 197);

        }

        .addItem{
            background-color: rgb(103, 103, 197);
            
        }

        div{
            width: max-content;
            height: max-content;
        }

        .itemQuantity{
            font-size: 1.2rem;
        }
    }

    .addToCart{
        
        margin-bottom: 10px;
        width: 80%;
        button{
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            border-radius: 4px;
            cursor: pointer;
            transition-duration: 0.2s;
            width:100%;
            
            .cart-btn{
                color: white !important;
            }
           
        }

        button:hover{

            background-color: #f1f5f1;
            color: #4CAF50;
            border: solid 1px  #4CAF50;

            
        }

      
        

    }



}