.countContainer{

    width: 100%;
    min-height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 10px;
    border-radius: 5px;
    outline: 1px solid rgb(247, 245, 245);
    box-sizing: border-box;
    box-shadow: 5px 20px 20px gray;

    .itemCounter{
        width: 50%;
        height: max-content;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
       

        button{
            margin-left: 10px;
            margin-right: 10px;
            
        }

        div{
            width: max-content;
            height: max-content;
        }
    }

    .addToCart{
        
        margin-bottom: 10px;
        width: 80%;
        button{
           padding: 10px;
           background-color: black;
            color: white;
            cursor: pointer;
            width: 100%;
        }

        

    }



}