
/* En este archivo definimos variables de la paleta de colores y tamaños de fuentes */

// Paleta de Colores 


$background: #ebebeb;


$warning:hsl(5deg 91% 64%);
$succes: rgb(141, 189, 117);


$color1: #e5781f;
$color2: #5a3d2b;
$color3: hsl(162deg 42% 62%);
$color4: hsl(36deg 89% 55%);
$color5: #e8df9c;


// font-size

$font-size-small: 1.5rem;;
$font-size-medium: 2rem;
$font-size-large: 2.5rem;
$font-size-xlarge: 3rem;


