@import "_variables.scss";
@import "_components.scss";
@import "_item.scss";
@import "_itemDetail.scss";
@import "_cart.scss";
@import "_loader.scss";
@import "_form.scss";
@import "_footer.scss";

html{
    font-size: 16px;
}


body{
  background-color: #F2D8B3;
}

.greeting{
  margin:auto;
  font-size: 4rem;
  color: $warning;
  width: 100%;
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 3rem;
  font-family: 'Monoton', cursive;
  letter-spacing: 1px;
  font-weight: lighter;
  background-color: #F2D8B3;
}


.itemListContainer{
  width: 100%;
  height:  100%;
  margin: auto;
  border: none;
  margin-bottom: 20px;
  
}

.navBar{
  background-color: #F2E9DF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  height: 4.5rem;
  box-shadow: 5px 5px 3px grey;
  
  
}

.botonera{
  list-style: none;
  display: inline;
  margin-right: 100px;
  
  
}






.carrito{
  color: rgb(36, 34, 34);
}

.carrito:hover{
  color: rgb(157, 159, 160);
}


.botonera li{
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  padding: 5px;
}




.botonera a{
  text-decoration: none;
  color: rgb(36, 35, 35);
  font-weight: 500;
}

.botonera a:hover{
  color: rgb(157, 159, 160);
}

.logo-nav a {
  color: $color2;
  text-decoration: none;
  font-size: 2rem;
  margin-left: 20px;
  font-weight: lighter;
  font-family: 'Monoton', cursive;
  letter-spacing: 2px;
}